<div class="fullscreen" ng-controller="ErrorController as vm">
    <table class="success-module fullscreen" ourpalm-touch-delay="vm.delay();">
        <tr class="row1">
            <td>
                <span class="title">在线购物取货机</span>
            </td>
            <td>
                <span class="glyphicon glyphicon-menu-left back" aria-hidden="true" ourpalm-goto="#/order"></span>
            </td>
        </tr>
        <tr class="row2">
            <td colspan="2">
                <p class="tip">
                    <span class="glyphicon glyphicon-remove-sign error"></span>
                    出货失败
                </p>
                <p class="msg">
                    对不起,出货失败,三天之内退款到您的账户上。
                </p>
            </td>
        </tr>
    </table>

</div>