<div class="fullscreen" ng-controller="NoGoodsController as vm" ourpalm-touch-delay="vm.delay();"
     ourpalm-touch-delay-times="120">
    <table class="success-module fullscreen">
        <tr class="row1">
            <td>
                <span class="title">在线购物取货机</span>
            </td>
            <td>
                <span class="glyphicon glyphicon-menu-left back" aria-hidden="true"></span>
            </td>
        </tr>
        <tr class="row2">
            <td colspan="2">
                <p class="tip">
                    <span class="glyphicon glyphicon-info-sign no-goods"></span>
                    无货
                </p>
                <p class="msg">
                    对不起,该商品已售完,请下次再来。
                </p>
            </td>
        </tr>
    </table>

</div>