<div class="fullscreen">
    <table class="success-module fullscreen" ng-controller="OuttingGoodsController as vm">
        <tr class="row1">
            <td>
                <span class="title">在线购物取货机</span>
            </td>
            <td>
                <!--<span class="glyphicon glyphicon-menu-left back" aria-hidden="true"></span>-->
            </td>
        </tr>
        <tr class="row2">
            <td colspan="2" class="outting">
                <p class="tip">
                    <img src="img/progress.gif" width="100%" height="10px">
                    <!--<div class="progress">-->
                    <!--<div class="progress-bar" role="progressbar" aria-valuenow="60"-->
                    <!--aria-valuemin="0" aria-valuemax="100" style="width: 40%;">-->
                    <!--<span class="sr-only">40% 完成</span>-->
                    <!--</div>-->
                    <!--</div>-->
                </p>
                <p class="msg">
                    支付完成,正在出货
                </p>
            </td>
        </tr>
    </table>
</div>