<div class="settingimei-module" ng-controller="SettingImeiController as vm">
    <div class="header">
        <span class="title">在线购物取货机</span>
        <span class="glyphicon glyphicon-menu-left back" aria-hidden="true" ourpalm-back></span>
    </div>
    <div class="container">
        <div>
            <input type="text" ng-model="vm.imei" placeholder="机器编号">
        </div>
        <div>
            <button class="btn1" ng-click="vm.settingImei();">确认</button>
        </div>
    </div>
</div>